@model Model.EF.Class

@{
    ViewBag.Title = "Xóa lớp học | Quiz Management System";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    Xóa lớp học
}


<h3>Bạn thực sự muốn xóa lớp học này?</h3>
<div>
    <span class="badge badge-primary" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1rem; margin-top: 24px">Thông lớp học</span>
    <table class="table table-bordered table-dark">
        <tbody>
            <tr>
                <th scope="row" width="50%">Lớp</th>
                <td width="50%">
                    @{

                        <p>@Model.Name</p>
                    }
                </td>
            </tr>
            <tr>
                <th scope="row" width="50%">Năm học</th>
                <td width="50%">
                    @{

                        <p>@Model.Grade.SchoolYear.NameOfSchoolYear</p>
                    }
                </td>
            </tr>
            <tr>
                <th scope="row">Số học sinh</th>
                <td>
                    @Model.Users.Count
                </td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <a class="btn btn-dark" href="/admin/class">Hủy</a>
        </div>
    }
</div>
