@model Model.EF.Question

@{
    ViewBag.Title = "Xóa câu hỏi | Quiz Management System";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    Xóa câu hỏi
}

<h3>Bạn có chắc là muốn xóa câu hỏi này?</h3>
<div>
    <hr />
    <span class="badge badge-primary" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1rem">Nội dung câu hỏi</span>
    <table class="table table-bordered table-dark">
        <tbody>
            <tr>
                <td>
                    @Html.Raw(Model.ContentQuestion + Model.AnswerText)                 
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-dark">
        <tr>
            <th scope="row" width="30%">Đáp án đúng</th>
            <td>
                @Html.DisplayFor(model => model.KeyAnswer)
            </td>
        </tr>
    </table>


    @using (Html.BeginForm("Delete", "quiz", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <a class="btn btn-dark" href="/admin/quiz">Hủy</a>
        </div>
    }
</div>
