/*Start The Test*/
.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.countdown-custom {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: orangered;
    right: 100px;
    bottom: 45%;
    position: fixed;
    width: 160px;
}

.list-quiz {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    right: 100px;
    width: 160px;
    position: fixed;
    bottom: 30%;
}


.col-md-6, .col-md-6 {
    width: 50%;
    float: left;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 14px;
    color: blue;
    padding-top: 1px;
    text-align: center;
    display: inline-block;
}

.btn-submit-test {
    float: right;
    right: 140px;
    bottom: 24%;
    position: fixed;
}