
@{
    Layout = null;
}

@model QuizManagementSystem.Areas.admin.Models.AdminLoginModel

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Đăng nhập vào hệ thống quản trị Quiz Management System</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Assets/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Đăng nhập vào Hệ thống Quiz Management System</div>
            <div class="card-body">
                @using (Html.BeginForm("login", "login", FormMethod.Post))
                {
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên tài khoản</label>
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mật khẩu</label>
                            @Html.PasswordFor(model => model.PassWord, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <label>
                                    @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-check-label" })Nhớ mật khẩu
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
                    </form>
                }
                <div class="text-center">
                    <a class="d-block small mt-3" href="register.html">Đăng ký tài khoản</a>
                    <a class="d-block small" href="forgot-password.html">Quên mật khẩu?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
