
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi 401 | Bạn không có truy cập vào tài nguyên này | Quiz Management System</title>
    <!--CSS-->
    <link href="~/Content/ErrorPage/css/style.css" rel="stylesheet" media="all" type="text/css" />
    <link href="~/Content/ErrorPage/css/font-awesome.css" rel="stylesheet" />
    <!--Script -->
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>
</head>
<body>
    <div class="header">
        <h1>Quiz Management System</h1>
    </div>
    <div class="w3-main">
        <div class="agile-info">
            <h2>401</h2>
            <h3>Lỗi</h3>
            <p>Bạn không có quyền truy cập vào tài nguyên này.</p>
            <a href="/"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Trang chủ</a>
        </div>
    </div>
    <div class="footer-w3l">
        <p>&copy; Quiz Management System @DateTime.Now.Year</p>
    </div>
</body>
</html>
